# Python Collections (Arrays)

There are four collection data types in the Python programming language:

-List is a collection which is ordered and changeable. Allows duplicate members.

-Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

-Set is a collection which is unordered and unindexed. No duplicate members.

-Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

In [1]:
letters = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

string_letters = str(letters)
lists_letters = list(letters)
tuples_letters = tuple(letters)
sets_letters = set(letters)


print("String: ", string_letters)
print() # for new line
print("Lists: ", lists_letters)
print() # for new line
print("Tuples: ", tuples_letters)
print() # for new line
print("Sets: ", sets_letters)

String:  abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ

Lists:  ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

Tuples:  ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z')

Sets:  {'c', 'j', 'k', 'Y', 'd', 'M', 'i', 'm', 't', 'K', 'z', 'Z', 'T', 'v', 'u', 'a', 'C', 'S', 'L', 'R', 'A', 'h', 'p', 'F', 'q', 'w', 'N', 'r', 'O', 'x', 'Q', 'V', 'l', 'U', 'W', 'f', 'X', 'H', 'b', 's', 'P', 'g', 'n', 'I', 'J', 'e', 'E', 'o', 'D', 'G', 'B', 'y'}

lists and tuples, they are in same order as they are specified intially. And these data structures guarantee this order. So strings, lists and tuples are ordered collections of objects.

If we look at the result of sets and dictionary, initial order, the order in which we specified the elements, is not maintained. So sets and dictionaries are unordered collections of objects.

# List
A list in Python is used to store the sequence of various types of data. Python lists are mutable type its mean we can modify its element after it created. However, Python consists of six data-types that are capable to store the sequences, but the most common and reliable type is the list.

A list can be defined as a collection of values or items of different types. The items in the list are separated with the comma (,) and enclosed with the square brackets [].

In [ ]:
#List items can be of any data type:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list1 = ["abc", 34, True, 40, "male"]

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

In [2]:
#Lists are ordered
a = [1,2,"Peter",4.50,"Ricky",5,6]  
b = [1,2,5,"Peter",4.50,"Ricky",6]
print(a,b)
a ==b

[1, 2, 'Peter', 4.5, 'Ricky', 5, 6] [1, 2, 5, 'Peter', 4.5, 'Ricky', 6]

False

### Ordered

When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

In [3]:
a.append("new item")
print(a)

[1, 2, 'Peter', 4.5, 'Ricky', 5, 6, 'new item']

In [4]:
#Allow Duplicates
#Since lists are indexed, lists can have items with the same value:

thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [5]:
#List Length
#To determine how many items a list has, use the len() function:

thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [ ]:
#The list() Constructor
#It is also possible to use the list() constructor when creating a new list.
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

In [ ]:
#access the items
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

Negative Indexing

Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

### Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

Example

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

In [6]:
ex=[10,'pankaj',20.5,'A']
ex[2]
ex[1:4]

['pankaj', 20.5, 'A']

In [7]:
list = [1,2,3,4,5,6,7,8,9]  
print(list[-1])  
print(list[-3:])  
print(list[:-1])  
print(list[-3:-1])

9
[7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8]
[7, 8]

In [8]:
list = [1, 2, 3, 4, 5, 6,7,8,9]     
print(list)     
# It will assign value to the value to the second index   
list[2] = -1   
print(list)    
# Adding multiple-element   
list[1:3] = ['A', 'C']     
print(list)   
# It will add value at the end of the list  
list[-1] = 25  
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, -1, 4, 5, 6, 7, 8, 9]
[1, 'A', 'C', 4, 5, 6, 7, 8, 9]
[1, 'A', 'C', 4, 5, 6, 7, 8, 25]

In [11]:
del list[5]
list

[1, 'A', 'C', 4, 5, 7, 8]

In [25]:
l1 = [1, 2, 3, 4]
l2 = [5, 6, 7, 8]

In [34]:
l3=l1+l2
print(l3)
print(l2*2)
l3.append(9)
print(l3)
l3.remove(2)
print(l3)
print(max(l3))
print(min(l3))

[1, 2, 3, 4, 5, 6, 7, 8]
[5, 6, 7, 8, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 4, 5, 6, 7, 8, 9]
9
1

In [19]:
for i in l3:
    print(i)

1
2
3
4
5
6
7
8

In [20]:
len(l3)

8

In [21]:
import random
L=[]
for i in range(1,10):
    item=random.randrange(100)
    L.append(item)
print(L)

[43, 98, 34, 17, 47, 49, 89, 5, 62]

In [40]:
#Write the program to remove the duplicate element of the list.
L1=[2,3,1,3,2,6,7,7,5,4,5,6,7,9,0,2,1,4,0]
L2=[]
for i in L1:
    if i not in L2:
        L2.append(i)
print(L2)

[2, 3, 1, 6, 7, 5, 4, 9, 0]

In [41]:
#Write the program to find the lists consist of at least one common element.
L1=[10,30,50,80,100]
L2=[20,30,50,90,200]
L3=[]
for i in L1:
    for j in L2:
        if i==j:
            L3.append(i)
print(L3)

[30, 50]

In [70]:
X=[20,10,50,30,40,90,80]
print(X)
X.sort()
print(X)

[20, 10, 50, 30, 40, 90, 80]
[10, 20, 30, 40, 50, 80, 90]

# Tuples
Python Tuple is used to store the sequence of immutable Python objects. A tuple can be written as the collection of comma-separated (,) values enclosed with the small () brackets.he parentheses are optional but it is good practice to use. A tuple is indexed in the same way as the lists. The items in the tuple can be accessed by using their specific index value.

In [42]:
T=('pankaj',10000,'X',10.24)
T

('pankaj', 10000, 'X', 10.24)

In [43]:
T=10,20,30,40,50
T

(10, 20, 30, 40, 50)

In [ ]:
T=()  # empty tuple

In [46]:
#Creating a tuple with single element is slightly different. 
#We will need to put comma after the element to declare the tuple.
T=('pankaj',) # tuple with single element

In [47]:
T

('pankaj',)

In [48]:
tuple1 = (10, 20, 30, 40, 50, 60)    
print(tuple1)    
count = 0    
for i in tuple1:    
    print("tuple1[%d] = %d"%(count, i))   
    count = count+1

(10, 20, 30, 40, 50, 60)
tuple1[0] = 10
tuple1[1] = 20
tuple1[2] = 30
tuple1[3] = 40
tuple1[4] = 50
tuple1[5] = 60

In [52]:
tuple1[2:5]

(30, 40, 50)

In [54]:
tuple = (1,2,3,4,5,6,7,8,9)  
#element 1 to end  
print(tuple[1:])  
#element 0 to 3 element   
print(tuple[:4])  
#element 1 to 4 element  
print(tuple[1:5])   
# element 0 to 6 and take step of 2  
print(tuple[0:6:2])  

print(tuple[-1])

(2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4)
(2, 3, 4, 5)
(1, 3, 5)
9

# Deleting Tuple
Unlike lists, the tuple items cannot be deleted by using the del keyword as tuples are immutable. To delete an entire tuple, we can use the del keyword with the tuple name.

In [58]:
tuple1 = (1, 2, 3, 4, 5, 6)    
print(tuple1)

(1, 2, 3, 4, 5, 6)

In [59]:
del tuple1[0]    
print(tuple1)

TypeError: 'tuple' object doesn't support item deletion

In [60]:
del tuple1    
print(tuple1)

NameError: name 'tuple1' is not defined

In [61]:
#The operators like concatenation (+), repetition (*), Membership (in) works in the 
#same way as they work with the list. 
T1=(10,30,50,70,100)
T2=(20,40,60,80,90)
print(T1+T2)

(10, 30, 50, 70, 100, 20, 40, 60, 80, 90)

use Tuple:
Using tuple instead of list gives us a clear idea that tuple data is constant and must not be changed.Tuple can simulate a dictionary without keys.

In [63]:
L=[(101, "John", 22), (102, "Mike", 28),  (103, "Dustin", 30)]

In [65]:
L[1]

(102, 'Mike', 28)

# Sets
A Python set is the collection of the unordered items. Each element in the set must be unique. 
Once a set is created, you cannot change its items, but you can add new items..sets remove the duplicate elements.

Unlike other collections in Python, there is no index attached to the elements of the set, i.e., we cannot directly access any element of the set by the index. However, we can print them all together, or we can get the list of elements by looping through the set.

In [73]:
Days = {"Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"}    
print(Days)    
print(type(Days))    
print("looping through the set elements ... ")    
for i in Days:    
    print(i)

{'Sunday', 'Wednesday', 'Thursday', 'Monday', 'Tuesday', 'Saturday', 'Friday'}
<class 'set'>
looping through the set elements ...
Sunday
Wednesday
Thursday
Monday
Tuesday
Saturday
Friday

In [74]:
Days = set(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"])    
print(Days)    
print(type(Days))    
print("looping through the set elements ... ")    
for i in Days:    
    print(i)

{'Sunday', 'Wednesday', 'Thursday', 'Monday', 'Tuesday', 'Saturday', 'Friday'}
<class 'set'>
looping through the set elements ...
Sunday
Wednesday
Thursday
Monday
Tuesday
Saturday
Friday

It can contain any type of element such as integer, float, tuple etc. But mutable elements (list, dictionary, set) can't be a member of set. Consider the following example.

In [ ]:
Add Items
To add one item to a set use the add() method.
To add more than one item to a set use the update() method.

In [75]:
S = {"apple", "banana", "cherry"}

S.add("orange")

print(S)

{'banana', 'orange', 'apple', 'cherry'}

In [77]:
#Add multiple items to a set, using the update() method
S.update(["mango","pineapple","litchi"])
print(S)
print(len(S))

{'pineapple', 'mango', 'banana', 'cherry', 'orange', 'apple', 'litchi'}
7

In [80]:
#To remove an item in a set, use the remove(), or the discard() method.
#S.remove("mango")
print(S)
#If the item to remove does not exist, remove() will raise an error.
#Remove item by using the discard() method:
S.discard("apple")
print(S)
#If the item to remove does not exist, discard() will NOT raise an error.

{'pineapple', 'banana', 'cherry', 'orange', 'apple', 'litchi'}
{'pineapple', 'banana', 'cherry', 'orange', 'litchi'}

In [81]:
#You can also use the pop(), method to remove an item, 
#but this method will remove the last item. 
#Remember that sets are unordered, so you will not know what item that gets removed.
Z=S.pop()
print(Z)

pineapple

In [82]:
#The clear() method empties the set
S.clear()
print(S)

set()

In [83]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'c', 2, 3, 'a', 'b'}

In [84]:
#he update() method inserts the items of set2 into set1:
#Both union() and update() will exclude any duplicate items.
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'c', 2, 3, 'a', 'b'}

In [87]:
#using union | operator
Days1 = {"Monday","Tuesday","Wednesday","Thursday", "Sunday"}    
Days2 = {"Friday","Saturday","Sunday"}    
print(Days1 | Days2) #printing the union of the sets     
print(Days1 & Days2) #prints the intersection of the two sets

{'Sunday', 'Wednesday', 'Tuesday', 'Thursday', 'Saturday', 'Monday', 'Friday'}
{'Sunday'}

In [88]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday", "Tuesday", "Sunday"}    
print(Days1-Days2)

{'Thursday', 'Wednesday'}

In [89]:
#Symmetric Difference of two sets
#The symmetric difference of two sets is calculated by ^ operator or symmetric_difference() method. 
#Symmetric difference of sets, it removes that element which is present in both sets. 
a = {1,2,3,4,5,6}  
b = {1,2,9,8,10}  
c = a^b  
print(c)

{3, 4, 5, 6, 8, 9, 10}

In [ ]:
#Python allows us to use the comparison operators i.e., <, >, <=, >= , == 
#with the sets by using which we can check whether a set is a subset, superset, or 
#equivalent to other set. T

Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday", "Tuesday"}    
Days3 = {"Monday", "Tuesday", "Friday"}    
    
#Days1 is the superset of Days2 hence it will print true.     
print (Days1>Days2)     
    
#prints false since Days1 is not the subset of Days2     
print (Days1<Days2)    
    
#prints false since Days2 and Days3 are not equivalent     
print (Days2 == Days3)

In [90]:
#The frozen sets are the immutable form of the normal sets, i.e., the items of the frozen set cannot 
#be changed and therefore it can be used as a key in the dictionary.
Frozenset = frozenset([1,2,3,4,5])     
print(type(Frozenset))    
print("\nprinting the content of frozen set...")    
for i in Frozenset:    
    print(i);    
Frozenset.add(6) #gives an error since we cannot change the content of Frozenset after creation

<class 'frozenset'>

printing the content of frozen set...
1
2
3
4
5

AttributeError: 'frozenset' object has no attribute 'add'